<!DOCTYPE html>
<html ng-app="store">

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app04.js"></script>
</head>

<body ng-controller="StoreController as sc">
    <!-- <div ng-show="! sc.product.soldOut"> -->
    <div ng-repeat="product in sc.products">
        <h1>{{product.name}}</h1>
        <img ng-src="{{product.images[0]}}" height="60">
        <h2>{{product.price | currency}}</h2>
        <section ng-init="tab = 1">
            <ul class="nav nav-pills">
                <li ng-class="{active:tab === 1}">
                    <a href ng-click="tab = 1">Description</a>
                </li>
                <li ng-class="{active:tab === 2}">
                    <a href ng-click="tab = 2">Specification</a>
                </li>
                <li ng-class="{active:tab === 3}">
                    <a href ng-click="tab = 3">Reviews</a>
                </li>
            </ul>

            <div class="panel" ng-show="tab === 1">
                <h4>Description</h4>
                <p>{{product.description}}</p>
            </div>
            <div class="panel" ng-show="tab === 2">
                <h4>Specification</h4>
                <blockquote>Not Yet</blockquote>
            </div>
            <div class="panel" ng-show="tab === 3">
                <h4>Reviews</h4>
                <blockquote>Not Yet</blockquote>
            </div>
        </section>

    </div>
</body>

</html>